p {
  color: #9095a7;
  margin-top: 20px; }

body {
  overflow-x: hidden;
  font-family: [Be Vietnam];
  font-weight: 400, 500, 700;
  font-size: 16px; }

/* the first */
header {
  display: flex;
  justify-content: space-around;
  margin-top: 50px; }
  header img {
    height: 20px;
    margin-top: 12px; }
  header nav {
    margin-top: 10px; }
  header nav li {
    list-style-type: none;
    float: left;
    display: inline-block; }
  header nav li a {
    color: inherit;
    margin-left: 40px;
    text-decoration: none;
    transition: all 0.5s ease-in-out; }
  header nav li a:hover {
    color: #9095a7;
    text-decoration: none; }
  header button {
    cursor: pointer;
    background-color: #f25f3a;
    color: white;
    text-align: center;
    width: 160px;
    height: 45px;
    border-radius: 30px;
    border: 1px solid #f25f3a;
    box-shadow: 5px 5px 10px #f25f3a;
    transition: all 0.5s ease-in-out; }
  header button:hover {
    background-color: white;
    color: #f25f3a;
    border: 1px solid #f25f3a; }
  header .burger {
    display: none; }
  header .inside-burger, header .inside-burger2 {
    visibility: hidden;
    display: none;
    position: absolute; }

.bg-section {
  transform: rotate(0deg);
  position: absolute;
  top: -125px;
  right: 0;
  width: 50%;
  height: 780px;
  z-index: -1; }

/* the second */
.bring {
  margin-top: 150px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around; }
  .bring article h1 {
    font-size: 56px;
    color: #242d52; }
  .bring button {
    cursor: pointer;
    background-color: #f25f3a;
    color: white;
    text-align: center;
    width: 160px;
    height: 45px;
    border-radius: 30px;
    border: 1px solid #f25f3a;
    box-shadow: 5px 5px 10px #f25f3a;
    transition: all 0.5s ease-in-out;
    margin-top: 20px; }
  .bring button:hover {
    background-color: white;
    color: #f25f3a;
    border: 1px solid #f25f3a; }

/* the third */
.different {
  margin-top: 100px;
  display: flex;
  justify-content: space-around; }
  .different article:first-of-type {
    margin-left: 7%;
    width: 40%; }
    .different article:first-of-type h2 {
      font-size: 40px;
      color: #242d52; }
    .different article:first-of-type img {
      position: absolute;
      width: 700px;
      height: 700px;
      transform: rotate(175deg);
      z-index: -1;
      margin-left: -500px;
      margin-top: 100px; }
  .different article:last-of-type {
    margin-right: 0%;
    width: 50%; }
    .different article:last-of-type div {
      margin-top: 30px; }
      .different article:last-of-type div div:first-of-type {
        color: white;
        background-color: #f25f3a;
        border-radius: 20px;
        width: 70px;
        height: 35px;
        padding-top: 7px;
        text-align: center;
        display: inline-block; }
      .different article:last-of-type div div:nth-of-type(2) {
        color: black;
        display: inline-block;
        margin-left: 20px; }

/* the fourth */
.people {
  text-align: center; }
  .people h3 {
    margin-top: 150px;
    text-align: center;
    font-size: 40px;
    color: #242d52; }
  .people div:first-of-type {
    margin-top: 80px;
    display: flex;
    justify-content: center;
    column-gap: 30px; }
    .people div:first-of-type article img {
      width: 80px;
      height: 80px; }
    .people div:first-of-type article h4 {
      color: #242d52;
      margin-top: 40px; }
    .people div:first-of-type article p {
      margin-top: 40px; }
  .people .buttons {
    display: none; }
  .people .grandbutton {
    cursor: pointer;
    background-color: #f25f3a;
    color: white;
    text-align: center;
    width: 160px;
    height: 45px;
    border-radius: 30px;
    border: 1px solid #f25f3a;
    box-shadow: 5px 5px 10px #f25f3a;
    transition: all 0.5s ease-in-out;
    margin-top: 100px; }
  .people .grandbutton:hover {
    background-color: white;
    color: #f25f3a;
    border: 1px solid #f25f3a; }

/* the fifth */
.simplify {
  background: url("../images/bg-simplify-section-desktop.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 250px;
  background-color: #f25f3a;
  margin-top: 150px;
  width: 100%;
  height: 250px;
  padding: 60px;
  display: flex;
  justify-content: space-around;
  column-gap: 200px; }
  .simplify h2 {
    font-size: 40px;
    color: white;
    width: 40%; }
  .simplify button {
    cursor: pointer;
    background-color: white;
    color: #f25f3a;
    text-align: center;
    width: 160px;
    height: 45px;
    border-radius: 20px;
    border: 1px solid #f25f3a;
    box-shadow: 5px 5px 10px #f25f3a;
    transition: all 0.5s ease-in-out;
    margin-top: 40px; }
  .simplify button:hover {
    opacity: 0.6; }

/* final */
footer {
  display: flex;
  justify-content: space-around;
  width: 100%;
  padding: 80px;
  height: 350px;
  background-color: #1d1e25; }
  footer div:first-of-type div {
    cursor: pointer;
    margin-top: 160px; }
    footer div:first-of-type div i {
      margin-left: 10px;
      transition: all 0.5s ease-in-out;
      color: white;
      font-size: 22px; }
    footer div:first-of-type div i:hover {
      color: #f25f3a; }
  footer nav li {
    list-style-type: none;
    margin-top: 20px; }
    footer nav li a {
      color: #9095a7;
      text-decoration: none;
      transition: all 0.5s ease-in-out; }
    footer nav li a:hover {
      color: #f25f3a;
      text-decoration: none; }
  footer div:nth-of-type(3) {
    margin-left: 160px; }
  footer #inp {
    width: 250px;
    height: 50px;
    border-radius: 30px;
    padding-left: 30px;
    border: 1px solid #1d1e25; }
  footer .check {
    /* display: none; */
    color: #f25f3a;
    position: absolute;
    margin-top: 60px;
    margin-left: -370px; }
  footer button {
    cursor: pointer;
    background-color: #f25f3a;
    color: white;
    text-align: center;
    width: 160px;
    height: 45px;
    border-radius: 30px;
    border: 1px solid #f25f3a;
    box-shadow: 5px 5px 10px #f25f3a;
    transition: all 0.5s ease-in-out;
    width: 100px;
    height: 50px;
    box-shadow: 0px 0px 0px #1d1e25;
    margin-left: 5px; }
  footer button:hover {
    background-color: white;
    color: #f25f3a;
    border: 1px solid #f25f3a; }
  footer h6 {
    margin-top: 140px;
    margin-left: 50px;
    color: #9095a7; }

/* for mobile */
@media (max-width: 1000px) {
  /* the first */
  header {
    display: inline-block;
    width: 95%;
    padding: 20px;
    margin-top: 20px;
    /* to close */ }
    header nav {
      display: none; }
    header button {
      display: none; }
    header .burger {
      display: block;
      float: right;
      cursor: pointer;
      animation: burg 0.3s ease-in-out 0s 1 forwards; }
    header .inside-burger {
      display: none;
      visibility: visible;
      position: absolute;
      top: 0;
      left: 0;
      padding-top: 50px;
      background-color: #fafafa;
      width: 100%;
      height: 450px;
      z-index: 1000;
      animation: showinsideburg 0.2s ease-in-out 0s 1 forwards; }
      header .inside-burger div:first-of-type {
        width: 96%; }
      header .inside-burger img:first-of-type {
        float: left;
        margin-left: 26px; }
      header .inside-burger img:last-of-type {
        cursor: pointer;
        float: right; }
      header .inside-burger div:last-of-type {
        margin-top: 60px;
        text-align: center; }
        header .inside-burger div:last-of-type li {
          list-style-type: none;
          margin-top: 60px;
          display: block; }
          header .inside-burger div:last-of-type li a {
            color: inherit;
            text-decoration: none;
            transition: all 0.5s ease-in-out; }
          header .inside-burger div:last-of-type li a:hover {
            color: #9095a7;
            text-decoration: none; }
    header .inside-burger2 {
      display: none;
      visibility: visible;
      position: absolute;
      top: 0;
      left: 0;
      padding-top: 50px;
      background-color: #fafafa;
      width: 100%;
      height: 450px;
      z-index: 1000;
      animation: hideinsideburg 0.2s ease-in-out 0s 1 forwards; }
      header .inside-burger2 div:first-of-type {
        width: 96%; }
      header .inside-burger2 img:first-of-type {
        float: left;
        margin-left: 26px; }
      header .inside-burger2 img:last-of-type {
        cursor: pointer;
        float: right; }
      header .inside-burger2 div:last-of-type {
        margin-top: 60px;
        text-align: center; }
        header .inside-burger2 div:last-of-type li {
          list-style-type: none;
          margin-top: 60px;
          display: block; }
          header .inside-burger2 div:last-of-type li a {
            color: inherit;
            text-decoration: none;
            transition: all 0.5s ease-in-out; }
          header .inside-burger2 div:last-of-type li a:hover {
            color: #9095a7;
            text-decoration: none; }

  @keyframes showinsideburg {
    from {
      margin-left: 100%; }
    to {
      margin-left: 0%; } }
  @keyframes hideinsideburg {
    from {
      margin-left: 0%; }
    to {
      margin-left: 100%; } }
  @keyframes burg {
    from {
      transform: scale(1.8); }
    to {
      transform: scale(1); } }
  .bg-section {
    transform: rotate(0deg);
    position: absolute;
    top: -125px;
    right: 0;
    width: 450px;
    height: 100%;
    z-index: -1; }

  /* the second */
  .bring {
    margin-top: 150px;
    display: block;
    text-align: center; }
    .bring img {
      width: 100%; }

  /* the third */
  .different {
    margin-top: 150px;
    display: block;
    text-align: center; }
    .different article:first-of-type {
      margin-left: 0%;
      width: 100%;
      /* */ }
      .different article:first-of-type img {
        transform: rotate(40deg);
        position: absolute;
        top: 500px;
        right: -370px;
        width: 450px;
        height: 100%;
        z-index: -1; }
    .different article:last-of-type {
      margin-right: 0%;
      width: 100%; }
      .different article:last-of-type div {
        margin-top: 30px; }
        .different article:last-of-type div div:first-of-type {
          color: white;
          background-color: #f25f3a;
          border-radius: 20px;
          width: 70px;
          height: 35px;
          padding-top: 7px;
          text-align: center;
          display: inline-block;
          position: relative;
          left: 50px;
          top: 3px; }
        .different article:last-of-type div div:nth-of-type(2) {
          color: black;
          display: inline-block;
          margin-left: 20px;
          background-color: #ffefeb;
          border-radius: 20px;
          height: 35px;
          width: 70%;
          text-align: left;
          padding-left: 40px;
          padding-top: 5px; }

  /* the fourth */
  .people h3 {
    margin-top: 150px;
    text-align: center;
    font-size: 40px;
    color: #242d52; }
  .people div:first-of-type {
    margin-top: 80px;
    display: flex;
    justify-content: center;
    column-gap: 30px; }
    .people div:first-of-type article {
      animation: showpeople 0.3s ease-in-out 0s 1 forwards; }
    .people div:first-of-type article:first-of-type, .people div:first-of-type article:nth-of-type(3), .people div:first-of-type article:last-of-type {
      display: none;
      /* left: 100%;
       position: absolute;
        animation :showpeople 0.3s ease-in-out 0s 1 forwards paused;
      	  animation :showpeople 0.3s ease-in-out 0s 1 forwards paused;  */ }
  .people .buttons {
    display: block;
    margin-top: 50px; }
    .people .buttons button {
      border-radius: 50%;
      height: 14px;
      width: 10px;
      border: 1px solid #f25f3a;
      background-color: white; }
    .people .buttons .button2 {
      background-color: #f25f3a; }

  @keyframes showpeople {
    from {
      margin-left: 100%; }
    to {
      /* left: 0%;
      	 position: relative; */
      margin-left: 0%; } }
  @keyframes showpeoplee {
    from {
      position: absolute;
      left: 100%;
      /*	left: 100%;
      		 position: absolute; */ }
    to {
      /* left: 0%;
      	 position: relative; */
      position: absolute;
      left: 0%; } }
  /* the fifth */
  .simplify {
    background-position: left;
    margin-top: 100px;
    width: 100%;
    height: 350px;
    padding: 0px;
    padding-top: 90px;
    display: block;
    text-align: center; }
    .simplify h2 {
      font-size: 40px;
      color: white;
      width: 100%; }
    .simplify button {
      margin-top: 20px; }

  /* final */
  footer {
    text-align: center;
    display: block;
    width: 100%;
    height: 550px;
    padding: 0px;
    padding-top: 50px;
    /*	nav li {
    		
    		margin-top: 20px;
    		
    		a{
             
    		color:hsl(227, 12%, 61%);
    			text-decoration: none;
    			
    			transition: $transition;
    			
    		}
    		a:hover{
    
    		color:$maincolor;
    			text-decoration: none;
    		} 
    	} */ }
    footer img {
      position: relative;
      top: 400px; }
    footer div:first-of-type div {
      cursor: pointer;
      margin-top: 40px; }
      footer div:first-of-type div i {
        margin-left: 30px;
        position: relative;
        top: 480px; }
    footer div:nth-of-type(2) {
      display: inline-block; }
    footer div:nth-of-type(3) {
      display: inline-block;
      margin-left: 130px;
      position: relative;
      top: -30px; }
    footer div:last-of-type {
      position: relative;
      top: -230px; }
    footer .check {
      /* display: none; */
      color: #f25f3a;
      position: absolute;
      margin-top: 60px;
      margin-left: -370px; }
    footer h6 {
      position: relative;
      top: 300px;
      margin-left: 0px;
      color: #9095a7; } }

/*# sourceMappingURL=style.css.map */
